<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <ion-buttons slot="end">
     <ion-button (click)="toggle()">
       <ion-icon slot="start" name="reorder"></ion-icon>
     </ion-button>
   </ion-buttons>
    <ion-title>List - Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-reorder-group #lista (ionItemReorder)="reorder($event)">


      <ion-item *ngFor="let usuario of usuarios">
        <ion-label>
          <h3>{{usuario}}</h3>
        </ion-label>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>


    </ion-reorder-group>
  </ion-list>
</ion-content>