<app-header titulo="Card"></app-header>

<ion-content>
  <!-- Tarjeta -->
  <ion-card mode="ios" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Subtitulo</ion-card-subtitle>
      <ion-card-title>Titulo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolor dolores eius deserunt, ullam neque sapiente
      quisquam quia ad illo eos quae adipisci repellat itaque exercitationem ratione, eum reprehenderit? Est!
      Nihil officiis quod cum aliquid voluptatibus iste est modi nostrum, ipsa facere corrupti omnis possimus eos alias
      distinctio ratione voluptates deserunt iure doloribus illo blanditiis enim. Facilis saepe repellendus neque.
      Molestias commodi cum qui eaque tenetur est ea temporibus vero, quisquam, odit ullam explicabo optio ex fuga
      reiciendis nihil culpa fugit, praesentium vel facilis aspernatur libero impedit sit illum! Laboriosam.
    </ion-card-content>
  </ion-card>
  <!-- Tarjeta -->
  <ion-card mode="ios" color="tertiary">

    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolor dolores eius deserunt, ullam neque sapiente
      quisquam quia ad illo eos quae adipisci repellat itaque exercitationem ratione, eum reprehenderit? Est!
      Nihil officiis quod cum aliquid voluptatibus iste est modi nostrum, ipsa facere corrupti omnis possimus eos alias
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta -->
  <ion-card color="tertiary">
      <ion-item>
          <ion-icon name="aperture" slot="start"></ion-icon>
          <ion-label>Imagen</ion-label>
      </ion-item>
    <ion-img src="/assets/shapes.svg"></ion-img>
  </ion-card>
</ion-content>